body {
  background-image: url("../images/background2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 658px;
  overflow: hidden;
}

#skeleton {
  background-image: : url("../images/character3.gif");
  position: absolute;
  left: 0;
  margin-top: 36%;
}

#skeleton img {
  height: 150px;
}

#pig {
  position: absolute;
  background-image: url("../images/pig.gif");
  background-repeat: no-repeat;
  left: 0px;
}

#fire{
  position: absolute;
  top: 0px;
}


#sword {
  position: absolute;
  margin-top: 34%;
  margin-left: 35px;
  left: 0px;
  bottom: 0px;
}

#sword img {
  height: 120px;
}

#container {
  position: relative;
  /*border: 5px solid black;*/
  width: 99%;
  height: 657px;
}
