body {
  background-image: url("../images/background2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 658px;
  overflow: hidden;
}

#skeleton {
  background-image: url("../images/character3.gif");
  background-size: cover;
  position: absolute;
  left: 0;
  /*margin-top: 34%;*/
  /*width: 185px;
  height: 180px;*/
  width: 140px;
  height: 135px;
  top: 500px;
}

#pig {
  position: absolute;
  background-image: url("../images/pig.gif");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0px;
  width: 290px;
  height: 180px;
}

.fire {
  background-image: url("../images/bullets.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 60px;
}

#container {
  position: relative;
  width: 99%;
  height: 657px;
}

progress {
  border: 2px solid white;
  height: 50px;
}

.vida {
  width: 50px;
  height: 50px;
}

.gameOver {
  background-image: url("../images/gameOver.png");
  width: 300px;
  height: 300px;
  position: absolute;
  background-repeat: no-repeat;
  margin-left: 500px;
  margin-top: 250px;
  background-size: contain;
  visibility: hidden;
}

#button {
  background-image: url("../images/again.png");
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 200px;
  position: absolute;
  background-color: inherit;
  background-size: contain;
  margin-left: 550px;
  margin-top: 500px;
  visibility: hidden;
  border: none;
}
