body {
  background-image: url("../images/background2.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 658px;
  overflow: hidden;
}

#skeleton {
  background-image: url("../images/character3.gif");
  background-size: cover;
  position: absolute;
  left: 0;
  margin-top: 34%;
  width: 185px;
  height: 180px;
}



#pig {
  position: absolute;
  background-image: url("../images/pig.gif");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0px;
  width: 290px;
  height: 180px;
}

#fire {
  background-image: url("../images/bullets.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 60px;
  position: absolute;
  top: 0px;
  margin-left: 150px;
  margin-top: 120px;
}


#sword {
  background-image: url("../images/sword.png");
  position: absolute;
  margin-top: 34%;
  margin-left: 35px;
  left: 0px;
  bottom: 0px;
}


#container {
  position: relative;
  /*border: 5px solid black;*/
  width: 99%;
  height: 657px;
}
